html, body {
	color: #fff;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5f8f9;
}
img {
	border: 0;
}
ul {
	margin: 0;
	padding: 0;
}
a, a:visited {
	color: yellow;
	text-decoration: none;
}
#page-wrap {
	/*min-height: 400px;
	width: 940px;*/
	width: 100%;
	/*min-width: 600px;*/
	margin: 0 auto;
}
@media all and (max-width: 320px) and (min-width: 100px) {
	#content {
		background: blue;
		min-height: 200px;
	}
}
#content {
	background: blue;
	min-height: 200px;
}
#header {
	background-color: red;
	height: 105px;
	padding: 20px;
	position: relative;
}
#footer {
	background: green;
	min-height: 100px;
}
#logo {
	font-size: 32px;
	color: #fff;
	float: left;
}
#help ul li {
	float: left;
	list-style: none;
	margin-right: 5px;
}
#help {
	float: left;
	margin-left: 200px;
}
#main-menu {
	clear: both;
	margin-top: 30px;
	position: absolute;
	bottom: 0;
}
#main-menu ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
}
#login {
	width: 200px;
	height: 50px;
	float: right;
}
#map {
	width: 100%;
}
#voting-filter {
	float: left;
	margin-left: 2%;
	width: 28%;
	margin-bottom: 2%;
}
#is_voted_box {
	margin-left: 2%;
	width: 28%;
}
table.list-table {
	float: right;
	border: 1px solid black;
	margin-right:30%;
	width: 35%;
	
}
table.list-table td {
	text-align: center;
	border: 1px solid black;
	
}
table.voting-table {
	border: 1px solid black;
	margin-right:3%;	
	width: 65%;
	float: right;
	border-collapse: collapse;
}
table.voting-table th {
	border: 1px solid black;
	text-align: center;
	background-color: #330099;
}
table.voting-table td {
	border: 1px solid black;
}
table.voting-table th.name {

	width: 47%;
}
table.voting-table th.party {
	width: 47%;
}
table.voting-table th.vote {
	width: *;
}
h1 {
	text-align: center;
}
fieldset.apply-for {
	margin-left: 2%;
	width: 20%;
}
fieldset.is_applyed_for {
	float: right;
	margin-right: 44%;
}
input.search-list {
	margin-left: 2%;
	margin-bottom: 6px;
}
div.button-menu {
	margin-left: 2%;
	margin-bottom: 6px;
}
#alphabet {
	text-align: center;
}